@import './main.scss';
@import './bootstrap-style.scss';
@import './mixins.scss';


// search stuff
.ql-search-table-container {
  margin-top: 10pt;

  .ql-search {
    display: flex;
    .select-container {
      min-width: 200px;
    }

  }
  .ql-table {
    max-height: 800px;
    overflow-y: auto;
   }
}

.ql-answer-distribution {
  display: inline-block;
  float: left;
  background: white;
  border: 1px solid #ccc;
}

.ql-list-item {
  @include list-item();
}


// modal stuff
.ql-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.8);
  overflow: auto;

  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  flex-direction: row;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
  justify-content: center;
  padding-top: 50px;
  z-index: 98;

  .ql-modal {
    background: white;
    margin-top: auto;
    top: -20px;
    margin-bottom: auto;
    position: relative;
    z-index: 99;
    width: 60%;
    max-width: 700px;
    border-radius: 3px;

    .ql-modal-header {
      margin-bottom: 8px;
      text-align: center;

      border-top-right-radius: 3px;
      border-top-left-radius: 3px;

      .ql-header-text {
        margin: 0;
        display: inline-block;
      }
      .ql-header-button {
        margin-left: 10px;
        margin-bottom: 2px;
        display: inline-block;
      }
    }

    .text {
      font-size: 120%;
      margin-bottom: 10px;
    }

    .ql-buttongroup {
      margin-top: 20px;
      width: 100%;
      text-align: center;

      > * {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}

@media (max-width: 480px) {
  .ql-modal-container {
    .ql-modal {
      width: 95%;
    }
  }
}

// session status badges
.ql-session-status {
  color: white;
  padding: 4px 12px;
  border-radius: 2px;
  //white-space: nowrap;
  min-width: 70px;
  max-width: 100px;
  text-align: center;
  text-transform: uppercase;

  &.ql-hidden {
    border: $inactive-color 1px solid;
    color: $inactive-color;
  }
  &.ql-visible {
    border: $inactive-color 1px solid;
    color: $inactive-color;
  }
  &.ql-running {
    border: $blue 1px solid;
    color: $blue;
  }
  &.ql-done {
    border: $inactive-color 1px solid;
    color: $inactive-color;
  }
  &.ql-submitted {
    border: $inactive-color 1px solid;
    color: $inactive-color;
  }

}

// progress
.ql-progress {
  height: 10px;
  border-radius: 2px;
  width: 100%;
  position: relative;
  background: #ddd;
  border-radius: 2px;

  .ql-progress-bar {
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background: $blue;
    height: 10px;
  }
}

// labels
.ql-page-container .ql-label {
  background: transparent;
  padding: 0px 6px;
  border-radius: 6px;
  font-weight: normal;
  white-space: nowrap;
  display: inline-block;

  &.ql-label-info {
    border: 1px solid $blue;
    color: $blue;
  }

  &.ql-label-correct {
    border: 1px solid $correct-color;
    color: $correct-color;
  }
  &.ql-label-incorrect {
    border: 1px solid $incorrect-color;
    color: $incorrect-color;
  }

}


.editor-wrapper {
  .ckeditor-wrapper {
    // width: calc(100% - 20px);
    // display: inline-block;
  }
}


// header on login page
.ql-outside-header {
  width: 100%;
  background: #676A6C;
  padding: 5px;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80%;

  .ql-wordmark {
    color: white;
  }
}

.ql-wordmark {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-family: $font-stack;

  h1 {
    margin:0;
  }
}

// text input style
input[type=text], input[type=email], input[type=password], textarea.form-control {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 8px;
}
.Select > .Select-control {
  border-radius: 2px;
}

// buttons
.btn {
  border-color: #ccc;
  color: #666;
  border-radius: 3px;

  &:hover {
    border-color: $blue;
    color: $blue;
    border-right-width: 1px;
    background: white;
  }

  &:active, &:focus {
    border-color: $blue;
    color: $blue!important;
  }

  &.btn-primary {
    background: $blue;
    border: none;
    color: white;

    &:disabled {
      background: $disabled;
      border-color: $disabled;

      &:hover {
        background: $disabled;
        border-color: $disabled;
      }
    }

    &:hover {
      background-color: darken($blue, 8%);
      border-color: darken($blue, 8%);
      color: white;
    }

    &:active, &:focus {
      border-color: darken($blue, 8%);
      color: white!important;
    }
  }

  &.btn-secondary {
    background: $grey;
    color: $main-text;

    &:active, &:focus {
      border-color: $blue;
      color: $main-text!important;
    }

    &:hover {
      background-color: darken($grey, 8%);
      border-color: darken($grey, 8%);
    }

    &:active, &:focus {
      border-color: darken($grey, 8%);
    }
  }

}

.btn-group:not(.dropdown) {
  .btn {
    // border-right-width: 0;
    // &:hover {
    //   border-right-width: 1px;
    // }

    &.btn-primary {
      border-left-color: darken($blue, 8%);
    }

  }
  .btn:last-child {
    border-right-width: 1px!important;
  }
}

select.ql-unstyled-select {
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  height: 34px;
}


.ql-list-item {
  @include list-item();
}

// blue header bar and card
.ql-header-bar {
  padding: 10px;
  background: $blue;
  text-align: center;
  color: white;
}

.ql-card {
  margin-top: 15px;
  margin-bottom: 15px;
  background: white;

  .ql-card-content {
    padding: 15px;
    label {
      padding-right: 3px;
    }
  }
}

.ql-card-fixed {
  margin-top: 15px;
  margin-bottom: 15px;
  background: white;
  position: fixed;
  width: 24%;

  .ql-card-content {
    padding: 15px;
    label {
      padding-right: 3px;
    }
  }
}

// profile image
.ql-profile-image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}


// pie chart/histogram icons
.pie-chart-ico {
  background-image: url('/images/piechart.png');
  height: 100px;
  width: 100px;
}

// sketchpad
.sketchpad {
  background-color: white;
}

// @media (prefers-color-scheme: dark) {
//   .btn {
//     background: $light-grey-dark !important;
//     border-color: $slightly-darker-grey-dark;
//     color: $main-text-dark;
//     text-shadow: none;

//     &.btn-primary {
//       background: $blue !important;
//       border-color: $blue-dark;
//     }
//   }

//   .ql-card {
//     background: $darker-grey-dark;
//   }

//   .ql-modal-container > .ql-modal {
//     background-color: $darker-grey-dark;
//   }

//   .ql-manage-session {
//     .ql-session-toolbar {
//       background-color: $slightly-darker-grey-dark;
//       border: none;

//       .toolbar-button {
//         color: $main-text-dark;
//       }
//     }
//     .ql-session-button {
//       color: $main-text-dark;
//     }

//     .SingleDatePicker > .SingleDatePickerInput {
//       border: none;
//       background-color: $grey-dark;
//     }

//     .ql-session-child-container {
//       background-color: $darker-grey-dark;
//       border: none;
//     }

//     .ql-session-sidebar {
//       background-color: $darker-grey-dark !important;
//       border: none !important;

//       .ql-session-question-list {
//         .new-question-item {
//           color: $main-text-dark !important;

//           &:hover {
//             background-color: $grey-dark !important;
//           }
//         }
//       }
//     }
//   }

//   .SingleDatePickerInput {
//     border: none;
//     color: $main-text-dark;
//     background-color: $grey-dark;

//     .DateInput {
//       color: $main-text-dark;


//     }
//   }

//   .DateInput__display-text--has-input {
//     color: $main-text-dark;
//   }

//   .DayPicker--horizontal {
//     color: $main-text-dark;
//     background-color: $grey-dark !important;
//   }

//   .CalendarMonthGrid {
//     background-color: $grey-dark;
//   }

//   .CalendarMonth__caption {
//     color: $main-text-dark;
//   }

//   .DayPicker__week-header {
//     color: $main-text-dark;
//   }

//   .CalendarDay {
//     color: $main-text-dark;

//     &:active {
//       background-color: $light-grey-dark;
//     }
//   }

//   .DayPickerNavigation {
//     background-color: $light-grey-dark;
//   }

//   .ql-question-content {
//     background: none !important;
//   }

//   .ql-answer-content-container {
//     background: none !important;
//   }

//   .ql-question-toolbar {
//     background-color: $grey-dark !important;
//     border: none !important;

//     .toolbar-button {
//       color: $main-text-dark !important;
//     }
//   }


//   .ql-answer-distribution {
//     background-color: $even-darker-grey-dark !important;
//     border-color: $darker-grey-dark !important;
//   }

// }