@import '../bootstrap-style.scss';

.ql-admin-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ql-admin-settings {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ql-admin-toolbar {
  height: 80px;
  font-size: 1.5em;
  background: $grey;
  padding: 4px;
  padding-left: 8px;
  border-bottom: 2px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 99;
  flex-flow: row wrap;

  .divider {
    border-left: 1px solid #d7d7d7;
    width: 0;
    margin-left: 8px;
    margin-right: 8px;
    }

  .button {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 2px;
    color: $main-text;

    &:hover {
      background: #d7d7d7;
      color: $main-text;
      text-decoration: none;
    }
  }

  .title {
    font-weight: bold;
    font-size: 120%;
    padding-left: 10px;
    padding-right: 8px;
  }
}

// Components
.ql-admin-user-table-container {
  .ql-admin-user-search {
    display: flex;
    .select-container {
      min-width: 200px;
    }

  }
  .ql-admin-user-table {
    max-height: 800px;
    overflow-y: auto;
   }
}


.ql-admin-form-box {
  text-align: center;
  color: #888;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
  width: 100%;

  .header-container {

    .header {

    }
  }

  .certificate {
    padding: 10px;
    margin-bottom: 20px;
    min-height: 300px;
  }

  .inputs-container {
    padding: 10px;
    padding-bottom: 20px;

    .input-group {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;

      .form-control {
        display: inline-block;
        width: 48%;

        &:last-child {
          float: right;
        }
      }
    }
  }

  .bottom-account-message, .top-account-message {
    font-size: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  .top-account-message {
    margin-bottom: 10px;
  }

}


// @media (prefers-color-scheme: dark) {
//   .ql-admin-toolbar {
//     background: $slightly-darker-grey-dark;
//     border-bottom: 0px solid #ccc;

//     .button {
//       color: $main-text-dark;
//     }
//   }
// }