
@import '../variables.scss';

@mixin session-toolbar() {
  height: 50px;
  background: #F8F8F8;
  padding: 4px;
  padding-left: 8px;
  border-bottom: 2px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 99;
  flex-flow: row wrap;

  .divider {
    border-left: 1px solid #d7d7d7;
    width: 0;
    margin-left: 8px;
    margin-right: 8px;
  }
}

@mixin toolbar-button() {
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 2px;
  color: $main-text;

  &:hover {
    background: #d7d7d7;
    color: $main-text;
    text-decoration: none;
  }
}

.ql-manage-session {
  overflow: hidden;

  .read-only-cover {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: rgba(20, 20, 20, 0.7);
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .message {
      color: white;
      font-size: 2em;
      width: 600px;
      height: 300px;
      text-align: center;
    }
  }

  .ql-session-toolbar {
    width: 100%;
    // top: 50px;
    left: 0;
    position: absolute;
    margin-top: 1px;
    @include session-toolbar();

    .toolbar-button {
      @include toolbar-button();

      &.next {
        padding-right:6px;
      }
      &.prev {
        padding-left:6px;
      }
    }
    .status-select {
      width: 120px;
      display: inline-block;
    }

    #ckeditor-toolbar {
      display: inline-block;

      > .cke {
        border: none;
        .cke_top {
          border-bottom-width: 0;
        }
      }
    }

    .session-title {
      font-weight: bold;
      font-size: 120%;
      padding-left: 10px;
      padding-right: 8px;
    }
  }

  .ql-question-toolbar {
    width: 100%;
    @include session-toolbar();
    padding-left: 12px;


    .btn-group-justified {
      width: unset;
      margin-right: 10px;
    }
    .toolbar-button {
      @include toolbar-button();
      width: unset;
    }
    .question-number, .student-counts, .attempt-message {
      font-size: 120%;
      margin-right: 8px;
      margin-left: 8px;
      font-weight: bold;
    }
  }


  .ql-row-container {
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    position: relative;
    // width: 100%;

    .ql-sidebar-container {
      position: absolute;
      height: calc(100vh - 100px);
      left: 0;
      top: 0px;

      &.with-2nd-toolbar {
        height: calc(100vh - 150px);
        top: 50px;
      }
    }

    .ql-session-sidebar {
      background: white;
      border-right: 1px solid #ddd;
      position: absolute;
      top: 0;
      left: 0;
      // width: 360px;
      width: 100%;
      height: calc(100vh - 100px);
      padding: 20px;
      overflow: auto;

      .list-item-selected {
        font-weight: normal;
      }

      .ql-session-question-list {
        .new-question-item {
          text-align: center;
          font-size: 140%;
          cursor: pointer;
          padding: 20px;
          color: #444;

          &:hover {
            background: #efefef;
          }
        }

        &.reorder {
          .ql-question-list-item {
            cursor: move;
          }
        }
      }

      #sidebar-tabs {
        margin-bottom: 10px;
      }

      &.presenting {
        display: none;
      }
    }

    .ql-main-content {
      margin-left: 575px;
      padding: 20px;
      overflow: auto;
      height: calc(100vh - 100px);
      // max-width: 1000px;

      .ql-short-answer-list {
        max-width: 500px;
        margin-bottom: 10px;
      }
      .ql-quizTimeInfo {
        font-size:1.5em;
        &.warning {
          color:$red;
        }
      }

      &.presenting {
        margin: 0;

        .ql-question-preview {
          width: 100%;
          max-width: 100%;
          height: 100%;
        }
      }
    }
  }

  .ql-session-child-container {
    background: white;
    border: 1px solid #ddd;
    padding: 18px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    &:first-child {
      margin-top: 0;
    }

    .ql-header-text-input {
      width: 100%;
    }

    &.session-details-container {
      .left-column {
        padding-right: 5px;
        margin-top: 10px;
      }
      .right-column {
        padding-left: 5px;
        margin-top: 10px;
      }
      .session-description {
        resize: vertical;
      }
      .ql-session-details-checkbox {
        font-size: 130%;
      }
      .session-tags {

      }
    }


    &.ql-add-question-prompt {
      text-align: center;
    }

    &.new-question-item {
      text-align: center;
      cursor: pointer;
      font-size: 140%;
      border: 1px dashed #ccc;
      background: transparent;

      &:hover {
        // background: #efefef;
        border-color: $blue;
        color: $blue;
      }
    }
  }

  // stuff for running sessions
  .current-question-list-item {
    font-weight: bold;
  }

  .ql-question-preview {
    border: 1px solid #ccc;
    padding: 10px 0px;
    max-width: 500px;
  }

  .SingleDatePicker {
    height: 34px;

    .DateInput {
      font-size: 14px;
      padding: 4px;
      padding-top:2px;
      padding-bottom:2px;
      width: 98px;
      background: transparent;

      .DateInput__display-text {
        padding: 2px 8px;

        &.DateInput__display-text--focused {
          color: white;
          background: transparentize($blue, 0.3);
        }
      }
    }
    .DateInput--with-caret::before {
      // top: 37px;
      display: none;
    }
    .DateInput--with-caret::after {
      // top: 38px;
      display: none;
    }
    .SingleDatePickerInput {
      background: transparent;
      height: 34px;
    }
    .SingleDatePicker__picker {
      top: 40px;
    }
    .SingleDatePickerInput__clear-date {
      padding: 4px;
      margin: 0;
      &.SingleDatePickerInput__clear-date--hide {
        display: none!important;
      }
    }

    .CalendarDay--selected-start, .CalendarDay--selected-end, .CalendarDay--selected {
      background: $blue;
    }
  }

  @media (max-width: 518px) {


    .ql-session-toolbar, .ql-question-toolbar {
      height: 150px;
    }
    .ql-session-toolbar {
    }
    .ql-row-container {
      top: 150px!important;
    }
  }

  @media (max-width: 800px) {
    .ql-row-container {
      top: 100px!important;
      .ql-sidebar-container {
        display: none!important;
      }
      .ql-main-content {
        margin-left: 0px!important;
      }
    }

    .ql-session-toolbar, .ql-question-toolbar {
      height: 100px;
    }
    .ql-session-toolbar {

    }
    .ql-question-toolbar {
      top: 100px;
    }
  }

  @media (max-width: 1000px) {
    .session-details-container {
      .left-column {
        padding-right: 15px!important;
      }
      .right-column {
        padding-left: 15px!important;
      }
    }
  }
}
